body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: #1487b9;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.about {
    padding: 2em;
    background-color: #f4f4f4;
}

.content {
    border-radius: 7px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 0.5em 0;
    padding: 0.5em;
}

@media (max-width: 600px) {
    .content {
        padding: 1em;
    }

    header {
        padding: 0.5em 0;
    }

    .about {
        padding: 1em;
    }
}
