body{
    text-align: center;
    background-color:whitesmoke;
    margin: 0%;

}
pre{
    white-space: pre-wrap;      /* Wrap text */
      word-wrap: break-word;      /* Break long words */
      overflow: auto;             /* Add scrollbars if necessary */
      max-width: 100%;            /* Ensure it doesn't overflow its container */
      background-color: #f4f4f4;  /* Optional: Background color */
      padding: 10px;              /* Optional: Padding for better readability */
      border: 1px solid #ccc;
    color:blue;
}
.go{
color: black;
}
img{
    margin: 0%;
    padding-top: 30px;
    height: 70px;
    width: 75px;
}
div{
    color: white;
    align-content: center;
    text-align: center;
    background-color: #1487b9;
    text-shadow: 1px 1px red;
}
a:hover{
    color: blue;
}
a{   
    font-weight: bold;
    font-family:  Arial, sans-serif;
    background-color:transparent;
    float: center;
    padding: 20px;
    color:white;
    text-shadow: none;
}
nav{
    position: fixed;
    margin-top: 0px;
    background-color: black;
    overflow: hidden;
    padding: 0%;
    top: 0;
  width: 100%;
}
.bdd{
    padding: 50px;
}
mark{
    background-color: #ccc;
}
ul{
    padding:18px
}