body{
    background-color:wheat;
}
table,tr,td,th{
    border: 2px solid white;
    border-collapse:collapse;
    padding: 10px;

}
th{
    background-color: violet;
}
td{
    background-color: darkgray;
}
div{
    align-content: center;
    text-align: center;
}

#tt{
    
    height: 6cm;
    width: 4cm;
    border: solid black;
}